# Server Configuration
SERVER_PORT=3000
MAX_START_RETRIES=10
START_RETRY_DELAY_MS=3000

# Google Cloud API key (required for /trackBus distance matrix)
GCP_API_KEY=

# If running server with docker-compose
REDIS_HOST=1stop-redis
REDIS_PORT=6379
MONGODB_URL=mongodb://root:root@1stop-mongo:27017/1Stop?authSource=admin

# If running server directly on host (without docker)
# REDIS_HOST=localhost
# REDIS_PORT=6379
# MONGODB_URL=mongodb://root:root@localhost:2717/1Stop?authSource=admin

# Rate limiting
RATE_LIMIT=100
RATE_LIMIT_WINDOW_IN_SECONDS=60
